# --- Gradle ---
.gradle/
build/

# --- IntelliJ/Android Studio ---
.idea/*
!.idea/codeStyles/
*.iml
*.iws
*.ipr
out/

# --- Android Specific ---
/local.properties
/captures/
.externalNativeBuild/
.cxx/
*.apk
*.ap_
*.dex

# --- Log files ---
*.log

# --- OS Specific ---
.DS_Store
Thumbs.db

# --- Secrets ---
*.jks
*.keystore
secrets.properties